body{
    background-color: #727171;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 320px;
    text-align: center;
}

#submit{
    width: 84px;
    height: 23px;
    font-size: 10px;
    font-weight: 600;
    
}

.last{
    margin-top: 19px;
}